.our {
    background-image: url(../img/what/WhatTouristSay_bg.png);
    background-size: cover;
  }
  .our .container {
    padding: 120px 20px 180px;
  }
  
  .our h2 {
    margin-bottom: 60px;
  }
  
  .our-box {
    display: flex;
  }
  
  .photo { 
    background-image: url(../img/what/comment_image.png);
    max-width: 440px;
    width: 100%;
    height: 280px;
  }
  
  .text {
    max-width: 880px;
    padding: 48px 60px;
    background-color: #333333;
  }
  
  
  .our-text {
    font-weight: 300;
  }
  .dot {
    background-image: url(../img/what/quote-left.png); 
    height: 20px;
    width: 20px;
    margin-right: 15px;
    display: inline-block;
  }     